    h2
    {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 3px 3px black;
        color:greenyellow;
        
    }
    h3
    {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:small;
        text-shadow: 2px 2px black;
        color:yellow;
    }
    body
    {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('SPBackgroundImage.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:99.5% 100%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: smaller;	
        color:whitesmoke;
    }	
    table
    {
        font-size: small;
        border: solid 2px whitesmoke;
        border-collapse: collapse;
    }
    td
    {
        border: solid 2px whitesmoke;
        padding: 2px;
    }