<style>
    .header
    h1
    {  
        text-align:center; 
        color:blueviolet;           
    }
    .green
    {
        color:green;
    }
    h2
    {
        color:firebrick;
        text-align:center;
    }
</style>